button {
    width: 32vw;
    height: 16vh;
    margin: 10px;
    font-size: 2vh;
    font-family: monospace;
    border: none;
    background-color: #004225;
    color: white;
}

h1 {
    margin-bottom: 75px;
    margin-left: 10px;
    margin-top: 50px;
    font-family: monospace;
}

h3 {
    margin: 10px;
    font-size: x-large;
    font-family: monospace;
}
